.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
}

.content {
  gap: 10px;
  text-align: center;
  align-items: center;
}

.content h3 {
  max-width: 410px;
}

.content button {
  margin-top: 20px;
  font-size: 25px;
  align-self: center;
}
