:root {
  --white: white;
  --black: black;
  --error: #f44336;
  --success: #3c763d;
  --desktop_header_height: 104px;
  --mobile_header_height: 80px;
  --inline_padding: clamp(1.5rem, 0.9375rem + 1.6667vw, 2.7rem);
  --vertical_padding: clamp(1.875rem, 0.1042rem + 3.8889vw, 3rem);
}

html {
  background-color: var(--white);
}

body {
  margin: 0;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 61px;
  line-height: 1em;
}

h2 {
  font-size: 41px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 18px;
}

.medium {
  font-weight: 500;
}

button,
.button {
  font-size: 18px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 34px;
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  font-weight: 500;
  text-align: center;
}

.secondary {
  background-color: var(--secondary);
  color: var(--black);
}

p,
label {
  font-size: 18px;
  line-height: 130.7%;
  letter-spacing: -0.05em;
}

label {
  font-weight: 500;
}

input,
select {
  width: 100%;
  border: 1px solid black;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-block: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

img,
video {
  max-width: 100%;
}

.flex {
  display: flex;
  gap: 10px;
}

.fill {
  height: calc(100vh - var(--desktop_header_height));
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.responsive_width {
  max-width: 1280px;
  padding-inline: clamp(17px, calc(17px + (74 - 17) * ((100vw - 600px) / (1500 - 600))), 74px);
  margin-inline: auto;
}

@media only screen and (width <= 600px) {
  h1 {
    font-size: 41px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .desktop {
    display: none !important;
  }

  .fill {
    min-height: calc(100svh - var(--mobile_header_height));
  }
}

@media only screen and (width > 600px) {
  .mobile {
    display: none !important;
  }
}
