.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}

.header svg {
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  color: white;
}

@media only screen and (width <= 600px) {
  .logo {
    height: 60px;
    width: 60px;
  }
}
