.product_grid {
  padding-block: 30px 70px;
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  gap: 30px;
}

.product_content {
  align-self: center;
}

.product_content h2 {
  margin-bottom: 10px;
}

.product_content button {
  margin-top: 60px;
  padding-block: 15px;
  font-size: 25px;
  font-weight: 500;
}

.variants {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.breadcrumb {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.measures {
  margin-block: 44px;
}

.measures p {
  color: var(--grey);
  margin-bottom: 20px;
}

.boxes {
  border: 1px solid var(--grey);
  padding: 7px 13px;
  max-width: 55px;
  cursor: pointer;
}

.boxes.selected {
  background-color: var(--black);
  color: var(--white);
}

@media only screen and (width <= 600px) {
  .product_grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .variants {
    flex-direction: row;
  }

  .variants img {
    height: 100px;
    max-width: 180px;
  }

  .measures {
    margin-block: 30px;
  }

  .product_content button {
    margin-top: 30px;
    font-size: 20px;
    width: 100%;
  }

  .measures p {
    color: var(--grey);
    margin-bottom: 10px;
  }
}
